@font-face {
    font-family: GothamPro;
    src: url(../assets/fonts/GothamPro/GothamPro-Medium.ttf);
}
@font-face {
    font-family: CoventryC;
    src: url(../assets/fonts/CoventryC.otf);
}
@font-face {
    font-family: VerbenaC;
    src: url(../assets/fonts/VerbenaC.otf);
}
@font-face {
    font-family: GilroyBold;
    src: url(../assets/fonts/GilroyBold.otf);
}
@font-face {
    font-family: GilroyLight;
    src: url(../assets/fonts/GilroyLight.otf);
}
@font-face {
    font-family: SegoeUI;
    src: url(../assets/fonts/SegoeUI.ttf);
}
@font-face {
    font-family: DINPro;
    src: url(../assets/fonts/DINPro.otf);
}



body {
    margin: 0;
}

.test {
    font-family: "GothamPro";
}

header {
    height: 88px;
    box-shadow:0px 3px 17px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 3px 17px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 3px 17px 0px rgba(0,0,0,0.3);
}
.header__in-wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 30% 10%;
    grid-template-rows: 88px;
}
.header__item {
    /* border:1px solid black; */
}

.header__region {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"GothamPro";
    color:gray;
}
    .header__region .header__item-wrapper {
        border:2px solid #b8b8b8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: left;
        width: 250px;
        height: 40px;
    }
.header__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"GothamPro";
    color:gray;
}
    .header__number .header__item-wrapper {
        border:2px solid #b8b8b8;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        height: 40px;
    }
.header__logo {
    display: inline-block;
    text-align: center;
}
    .header__logo .header__item-wrapper {
        display: inline-block;
    }
.header__breadcrumbs {
    display: flex;
    align-items: center;
    font-family:"GothamPro";
    color:gray;
}
    .header__breadcrumbs .header__item-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border:2px solid #b8b8b8;
        border-radius: 50px;
        padding: 10px 20px;
    }
        .header__breadcrumbs-item {
            border-bottom: 2px solid transparent;
        }
        .header__breadcrumbs-item:hover {
            border-bottom: 2px solid gray;
        }
        .header__breadcrumbs-item:not(:last-child) {
            border-right:2px solid #b8b8b8;
            text-align: center;
            padding-right:5px;
            margin-right: 5px;
        }
        .header__breadcrumbs-item span {
            cursor: pointer;
        }

.header__cart {

    font-family:"GothamPro";
    color:gray;
}
    .header__cart .header__item-wrapper {
        /* display: flex;
        align-items: center; */
        position: relative;

    }
    .header__cart .header__item-wrapper img {
        float: right;
        margin: 10px 20px 0 0;
        border-radius: 55%;
        cursor: pointer;
    }
    .header__cart .header__item-wrapper img:hover {
        box-shadow:0px 0px 26px 7px rgba(181,181,181,1);
        -webkit-box-shadow:0px 0px 26px 7px rgba(181,181,181,1);
        -moz-box-shadow:0px 0px 26px 7px rgba(181,181,181,1);
        transition: all .35s;
    }
    .header__orders-number {
        position: absolute;
        right: 10px;
        top:5px;
        border: 1px solid #b8b8b8;
        background-color: #6def8f;
        color:#fffff8;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 7px;
        border-radius: 100%;
    }

main {
    width: 80%;
    margin:0 auto;
    margin-top:20px;
}

.landing {
    position: relative;
}
.landing img {
    width: 100%;
}
.landing div {
    position: absolute;
    top:20px;
    right: 40px;
    color:white;
    font-size: 36px;
    width: 350px;
}
.landing__text {
    display: block;
    font-family: "CoventryC";
    font-size: 65px;
}
.landing__scribe {
    display: block;
    text-align:right;
    font-family: "VerbenaC";
}


.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "GilroyBold";
}
    .catalog__item {
        cursor: pointer;
        width: 24%;
        border: 1px solid rgba(184,184,184, 0.5);
        margin-bottom: 10px;
        border-radius: 20px;
        position: relative;
        padding-top: 50px;
    }
    .catalog__item:hover {
        border: 1px solid rgba(184,184,184,1);
        box-shadow:0px 0px 6px 3px rgba(191,191,191,1);
        -webkit-box-shadow:0px 0px 6px 3px rgba(191,191,191,1);
        -moz-box-shadow:0px 0px 6px 3px rgba(191,191,191,1);
        transition: all .35s;
    }
    .catalog__item_name {
        font-size: 20px;
        margin-left: 15px;
        margin-top:15px;
        font-weight: normal;
        position:absolute;
        top: 0;
    }
    .catalog__item-img_warpach {
        height: 208px;
    }
    .catalog__item_img {
        display: block;
        margin:0 auto;
    }
    .catalog__item_price-buy_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        margin-top:10px;
        background-color: #eaeaea;
        border-radius: 5px 5px 20px 20px;
    }
    .catalog__item_price_block {
        font-family: "DINPro";
    }
    .catalog__action-price {
        margin-left: 15px;
        text-decoration: line-through;
        text-decoration-color: red;
    }
    .catalog__cart-block {
        border-radius: 55%;
    }
        .catalog__cart-img {
            width: 40px;
        }
        .catalog__cart-img:hover {
            width: 45px;
            transition: all .35s;
        }

.delivery {
    background-color: #fdd9d9;
    border-radius: 10px;
    padding-bottom: 35px;
    font-family: "GilroyBold";
}
    .delivery__headline {
        font-size: 50px;
        text-align: center;
        padding-top:20px ;
        margin-top:5px;
    }
    .delivery__block {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .delivery__item {
        width: 25%;
    }
        .delivery__item .delivery__item-img {
            height: 250px;
            display: flex;
            align-items: center;
        }
        .delivery__item .delivery__item-img img {
            display: block;
            margin:0 auto;
        }
        .delivery__word {
            display: block;
            text-align: center;
        }
        .delivery__desc {
            margin-top:20px;
            display: block;
            width: 70%;
            text-align: center;
            margin:0 auto;
        }

.feedback {
    background-color: rgb(217,236,237);
    border-radius: 10px;
    padding: 0 0 20px 0;
    font-family: "GilroyBold";
}
    .feedback__headline {
        font-size: 50px;
        text-align: center;
        padding-top:20px;
        margin-top:25px;
    }
    .feedback__block {
        display: flex;
        width: 70%;
        margin:0 auto;
    }
        .feedback__photo-block {
            text-align: center;
        }
            .feedback__photo-block img {
                border-radius: 20px;
                width: 80%;
            }
        .feedback__text-block {
            text-align: center;
            width: 100%;
            padding-left: 50px;
            padding-top: 0;
            position: relative;
        }
            .feedback__text {
                background-color: white;
                border-radius: 20px;
                width:100%;
                height: 180px;
                font-size: 16px;
                text-align: left;
                padding: 15px;
                overflow: scroll;
                
            }
            .feedback__text::-webkit-scrollbar { width: 0; }

            .feedback__arrow {
                position:absolute;
                bottom: 15px;
                right: -20px;
                width: 25px;
                transform: rotate(0deg);
                transition: all .35s;
            }
            .rotate_arrow {
                transform: rotate(180deg);
                transition: all .35s;
            }

            .feedback__text p {
                margin:0;
            }

.payment {
    background-color: #f7f7d9;
    border-radius: 10px;
    padding-bottom: 30px;
    font-family: "GilroyBold";
}
    .payment_headline1 {
        font-size: 50px;
        text-align: center;
        padding-top:20px;
        margin:25px 0 10px 0;
    }
    .payment__headline2 {
        font-size: 20px;
        text-align: center;
        margin:0px;
        margin-bottom: 25px;
    }
    .payment__block {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .payment__block img {
        filter: grayscale(50%);
        cursor: pointer;
    }
    .payment__block img:hover {
        filter: grayscale(0%);
        filter: brightness(1);
        transition: all .35s;
    }


.contact {
    background-color: #ebfdef;
    padding-bottom: 25px;
    font-family: "GilroyBold";
}
    .contact__headline {
        font-size: 50px;
        text-align: center;
        padding-top:20px;
        margin:25px 0 10px 0;
    }
    .contact__block {
        width: 350px;
        margin:0 auto;
        box-shadow:0px 0px 16px 0px rgba(0,0,0,0.81);
        -webkit-box-shadow:0px 0px 16px 0px rgba(0,0,0,0.81);
        -moz-box-shadow:0px 0px 16px 0px rgba(0,0,0,0.81);
        padding: 15px;
        border-radius: 70px;
    }
        .contact__address {
            display: block;
            text-align:center;
            margin-bottom:5px;
        }
        .contact__number {
            display: block;
            text-align:center;
            margin-bottom:5px;
        }
        .contact__social {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin:0 auto;
        }


.footer {
    margin-top:15px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:1px solid #e3e3e3;
    background-color: #f3f3f3;
    color:#6d6b6b;
    padding: 0 10px;
    font-family: "SegoeUI";
    position: relative;
    text-align: center;
}
.footer__left {
    position: absolute;
    left: 10px;
}
.footer__midddle {
    
}
.footer__right {
    position: absolute;
    right: 10px;

}